<div class='main-container'>
    <div class='grid-container'>
    <div class='header'>
        <!-- <button type="button" id='learn'>LEARN MORE</button> -->
        <div class='navbar'>
        <div>
            <a href='/'>HOME</a>
            <a href='/aboutUs'>ABOUT US</a>
            <a href='/api/tents'>TENTS</a>
            <a href='/api/sleepingBags'>SLEEPING BAGS</a>
            <a href='/api/backpacks'>BACKPACKS</a>
        </div>
        <div>
            <a href='/api/signIn'>SIGN IN</a>
            <a href='/api/cart'>CART</a>
        </div>
        </div>
        <div class='header-copy'>
            <!-- <p id='first-line'>For the love of</p>
            <br>
            <p id='second-line'>OUTDOOR</p>
            <br>
            <p id='third-line'>Whether you're a weekend warrior or a<br> Navy SEAL, we've got you covered.</p> -->
        </div>
    </div>
    <div class='marketing'>
      <div class="shopWrap">
        <a href="#" target="_blank">
			       <img class="shopImage" src="../img/sampleTent.png" alt="Picture of app.">
        </a>
			          <div class="shopText1">SAMPLE TENT</div>
                  <div class="shopText2">$249.99</div>
                    <button type="button" id="shopButton">PRODUCT DETAILS</button>


</div>
        <!-- <button type="button" id='clearance'>SHOP CLEARANCE</button> -->
    </div>
    <div class='accepted-payment'>

    </div>
    <div class='footer'>

    </div>
    </div>
</div>
