* {
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    max-height: 1800px;
    padding-left: 200px;
    padding-right: 200px;
}

img {
    width: 1040px;
    margin-bottom: 8px;
}
