
* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    width: 100%;
    height: 100%;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

p {
    margin-bottom: -.08em;
}

a {
    font-family: Raleway-Regular;
    font-size: 12px;
    color: #FFFFFF;
    padding-right: 30px;
}

/* Button style */
button {
    height: 42px;
    width: 180px;
    font-family: Raleway-Regular;
    font-size: 16px;
    background-color: #2E5564;
    color: #FFFFFF;
}

#clearance {
    background-color: #8E3F30;
    position: relative;
    top: 520px;
}

#learn {
    position: relative;
    left: 132px;
    height: 42px;
    width: 180px;
}
/* End button style */

.main-container {
    max-width: 1440px;
}

.header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 480px;
    width: 100%;
    background-image: url("../img/main_img.png");
}

.header-copy {
    align-self: flex-start;
    /* background-color: powderblue; */
    /* opacity: 0.4; */
    position: relative;
    top: 100px;
    color: #DF997D;
}

#first-line {
    position: relative;
    padding-left: 132px;
    top: 70px;
    font-family: AbrilFatface-Regular;
    font-size: 40px;
}

#second-line {
    position: relative;
    padding-left: 132px;
    top: 7px;
    font-family: AbrilFatface-Regular;
    font-size: 88px;
}

#third-line {
    position: relative;
    padding-left: 132px;
    bottom: 36px;
    font-family: Raleway-Medium;
    font-size: 20px;
    line-height: 26px;
}

.navbar {
    height: 55px;
    width: 100%;
    position: relative;
    top: 110px;
    background-color: #C65837;
    opacity: .8;
    padding-left: 132px;
    padding-right: 132px;
}

.marketing {
    height: 607px;
    width: 1440px;
    background-image: url("../img/marketing_img.png");
    text-align: center;
}

/* Shopping tiles */
.shopping-tiles {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

#shop-tents {
    height: 480px;
    width: 33.33%;
    min-width: 480px;
    position: relative;
    text-align: center;
    color: white;
}

#shop-tents:hover {
    opacity: 0.45;
}

#tents-tile {
    height: 480px;
    width: 480px;
    opacity: 0.4;
}

#shop-sleepingBags {
    height: 480px;
    width: 33.33%;
    min-width: 480px;
    position: relative;
    text-align: center;
    color: white;
}

#shop-sleepingBags:hover {
    opacity: 0.45;
}

#bags-tile {
    height: 480px;
    width: 480px;
    opacity: 0.46;
}

#shop-backpacks {
    height: 480px;
    width: 33.33%;
    min-width: 480px;
    position: relative;
    text-align: center;
    color: white;
}

#shop-backpacks:hover {
    opacity: 0.45;
}

#packs-tile {
    height: 480px;
    width: 480px;
    opacity: 0.48;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}
/* End shopping tiles */

/* Accepted payments section */
.accepted-payment {
    display: flex;
    flex-wrap: wrap;
    height: 580px;
    width: 1440px;
    background-image: url("../img/topography.png");
}

.section {
    width: 720px;
}

#credit-card {
    width: 400px;
    position: relative;
    top: 140px;
    left: 150px;
    text-align: center;
}

#bitcoin {
    width: 280px;
    position: relative;
    top: 120px;
    left: 190px;
    text-align: center;
}
/* End accepted payments */

.empty-section {
    height: 680px;
    width: 1440px;
    background-image: url("../img/rock_climber.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.footer {
    height: 140px;
    width: 1440px;
    background-color: #2E5564;
}

.footer-block {
    position: relative;
    top: 64px;
    text-align: center;
    color: #FFFFFF;
}

.social {
    text-align: right;
}

.social-icon {
    position: relative;
    top: 50px;
    height: 40px;
}
