html, body {
  height: 100%;
}
/*-------------------------------------------------------------- 
NAVBAR STYLES
--------------------------------------------------------------*/
nav {
  background-color: #aaa;
}

.brand-img {
    max-height: 100%;
}
.nav-row {
  height: 80px;
}
.auth-link {
  padding: 0 25px;
}
.nav-items {
    height: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
li {
  display: inline;
  padding: 0 20px;
  font-size: 20px;
}
/* ------------------------------------------------------
MARKETING SECTION STYLES 
--------------------------------------------------------*/
section {
  background-color: #888;
}

.campaign-banner {
  text-align: center;
  /* padding: 100px; */
}
.banner-text {
    display: inline-block;
    padding: 200px 0px 50px 0px;
    /* border: 2px solid black; */
}

.b-button {
  display: block;
  margin-top: 100px;
  padding: 0px;
  border: 2px solid red;

}

.b-button-text {
  font-size: 20px;
}
