.container {
    padding-left: 200px;
    padding-right: 200px;
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

h5 {
    font-weight: bold;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

p.boldPara {
    font-weight: bold;
}